{% extends "@FOSUser/layout.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="container col-md-6 border border-primary mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {% if user.file %}
                            <img height="200" width="300" src="{{ asset('uploads/photos/') }}{{ user.file }}">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <span>User Name : {{ user.user.username }}</span>
                        </div>
                        <div class="row">
                            <span>Email Id : {{ user.user.email }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}