{#{% trans_default_domain 'FOSUserBundle' %}#}

<div class="container col-md-6 border border-primary mt-5">
    <div class="row">
        <div class="col-md-12">
            {% if error %}
                <div class="alert-danger">{{ error.messageKey|trans }}</div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="form-row mt-3">
                    <div class="form-group col-md-3">
                        <label for="username">{{ 'Enter User Name'|trans }}</label>
                    </div>
                    <div class="form-group col-md-8">
                        <input  class="form-control" type="text" id="username"
                                name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="password">{{ 'Enter Password'|trans }}</label>
                    </div>
                    <div class="form-group col-md-8">
                        <input  class="form-control" type="password" id="password"
                                name="_password" required="required" autocomplete="current-password" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <input class="form-control mt-1" type="checkbox"
                               id="remember_me" name="_remember_me" value="on" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="remember_me">{{ 'Remember Me'|trans }}</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="submit" id="_submit"
                               class="btn btn-primary" name="_submit" value="{{ 'Sign In'|trans }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

